@font-face
{
	font-family: Garogier;
	src: url(../fonts/Garogier_unhinted.otf);
}
body {
	overflow	: hidden;
	padding		: 0;
	margin		: 0;

	color		: #222;
	background-color: #BBB;
	font-family	: arial;
	font-size	: 100%;
}

h1,h2,h3 {
	font-family: Garamond, Garogier, serif;
	margin-bottom: 0.502%; 
	margin-top: 0.502%;
}
.header {
    font-weight:bold;
}
.header a {
	color : white;
	text-decoration	: none;
}
.header a:hover {
	text-decoration	: none;
}
.header h1 {
	position: absolute;
	top: 0.5em;
	left: 0.5em;
	opacity: 0.2;
}
.header h2{
	color: white;
	position: absolute;
}
.header h3{
	color: #DDDDDD;
	width: 23.6%;
	position: absolute;
	left: 2.5em;
	top: 2em;
}
.section-title{
	padding-top: 0;
	position: relative;
	right: 1em;
}

.navigation
{
	font-size: 76.3%;
	margin-left: 23.6%;
	width: 161%;
}
.navigation a:hover {
	color: grey;
	text-decoration	: none;
}
.article{
	color: black;
	background-color: white;
}

.top {
	position: absolute;
	top: 1em;
}
.bottom {
	position: absolute;
	bottom: 1em;
}
.left{
	position: absolute;
	left: 1em;
}
.right{
	position: absolute;
	right: 1em;
}
.details{
	color: #DDDDDD;
	position: absolute;
	left: 1em;
	top: 6em;
	width:38.2%;
	background: rgba(0,0,0,0.5);
}
.details a {
	color: grey;
}
.details a:hover {
	color: grey;
	text-decoration	: none;
}
.hcenter {
	display: block;
	margin: auto;
}
.hidden {
	display: none;
}
.input{
	color: #DDDDDD;
	background-color: #000000;
	opacity: 0.85;
	position: absolute;
	right: 0;
	bottom: 0;
	padding-bottom: 1em;
}
.input sub {
	font-size: 61%;
}
.options{
	color: #DDDDDD;
}
.options sub {
	font-size: 61%;
}
.instructions {
	color: grey;
	font-style: italic;
	font-size: 61%;
	float:right;
	padding-left:1em;
}
.math {
	padding-left: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	font-size: 90%;
}
.controls{
	padding-right: 1em;
}